*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(./img/l-p_intro.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    cursor: url(/img/Cursor.svg), auto;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
}


header{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.main-container{
  display : grid; 
  grid-template-columns: repeat(12,fr);
   
}

#header__phrase{
  grid-column: 3/12 ;
  text-align: center;
  padding-top: 90px;
}

#header__phrase p{
  color: #FFFFEB;
  font-size: 35px;
  font-weight: bolder;
}

/* Logo */

#header__logo{
  height : 120px; 
  padding: 50px 0 0 50px;

}
   

